
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body{
    background: #FFF8DC;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.logo img {
    max-width: 55px;
    width: 100%;
    height: auto;
    transition: 0.5s ease-in-out;
}

.logo img:hover {
    transform: rotate(360deg); 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: 0.3s ease-out;;
}

.nav-links a:hover {
    color: tomato;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
  gap: 30px;
}

.card-text {
    text-align: left;
    font-size: 1rem;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}


.card1{
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  height: 450px;
  padding: 20px;
  background-color: brown;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
}

.card2{
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  height: 450px;
  padding: 20px;
  background-color: teal;
  border-radius: 30px;
  color: black;
  transition: 0.4s ease-in-out;
}

.card3{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: crimson;
    max-width: 350px;
    height: 450px;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.card4{
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: rgb(211, 121, 12); 
    max-width: 350px;
    height: 450px;   
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.card4 ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    text-align: left;
    font-size: 1rem;
    color: white;
  }

.card4 ul li {
    margin: 0;
    padding: 0;
}

.card4 ul li a {
    text-decoration: none;
    font-size: 1.05rem;
    transition: 0.3s ease-out;
}

.card1:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #4F200D;
}

.card2:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #4F200D;
}

.card3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #4F200D;
}

.card4:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #4F200D;
}


.button {
    padding: 14px 20px;
    background-color: #ffcc00; 
    color: #4F200D;
    border: 4px solid #4F200D; 
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 4px 4px 0px #4F200D; 
    transition: all 0.2s ease-in-out;
}


.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: auto;
}

.button:hover{
    transform: scale(1.05);
    background-color: tomato;
}

.grass{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #8BA576;
    border: solid 2px black;
    z-index: -2;
}

.cloud1 img {
    position: absolute;
    top: 50px;
    max-width: 100px;
    left: 180px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.cloud2 img {
    position: absolute;
    top: 50px;
    max-width: 150px;
    left: 500px;
    width: 100%;
    height: auto;
    z-index: -1;
}


.cloud3 img {
    position: absolute;
    top: 60px;
    max-width: 180px;
    right: 100px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.cloud4 img {
    position: absolute;
    top: 30px;
    max-width: 250px;
    right: 800px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.cloud5 img {
    position: absolute;
    top: 80px;
    max-width: 160px;
    right: 460px;
    width: 100%;
    height: auto;
    z-index: -1;
}
